<!-- # Homepage and Dashboard -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- hidden for now, using img -->
  <!-- <title>My Messier Tracker</title> -->

  <!-- Tools: bootstrap, charts, particles, highcharts, icons, resources, etc -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- library of bootstrap icons: https://icons.getbootstrap.com/ -->

</head>

<!-- font (should move to base and update)-->

<head>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap" rel="stylesheet">
</head>

<!-- page background (base and update) -->

<body style="background:#151416; 
             color:#9e6399; 
             font-family:'Rajdhani', sans-serif; font-size: 20px;">


  <!-- main page info -->
  <div style="position: relative; z-index: 1;" class="container mt-4">

    <!-- Header Image-->
    <header class="text-center my-3">
      <!-- alt here handles in case the image cannot be read for whatever reason and will at least
               show [username]'s Messier Tracker' -->
      <img src="{{ url_for('static', filename='img/MyMessierTracker_header_v2.png') }}"
        alt="{{ (user.user_name or user.username or user.name)|default('Astronomer', true) }}'s Messier Tracker"
        class="img-fluid" style="max-width: 980px; width: 60%; height: auto; filter: drop-shadow(0 0 8px rgba(123, 235, 243, 0)); 
                   padding-bottom: 50px;" /> <!-- testing dropshadow against diff backgrounds... TODO remove? -->

      <div class="mt-2" style="font-size:1.1rem;">
      </div>
    </header>

    <!-- Prog bar title -->
    <h4 class="m-0 w-100 text-center" , style="color:#f4f2f5; font-weight:bold; font-size: 40px;">Total Objects Captured
    </h4>
    <!-- Highcharts progress bar-->
    <div id="hc-total-progress" style="color:#f4f2f5; height: 46px; margin: 12px 0;"></div>

    <!-- Highcharts Donuts (titles built in)-->
    <div class="row g-3 mt-2 mb-5">
      <div class="col-12 col-md-4">
        <div id="donut-galaxies" style="height:220px;"></div>
      </div>
      <div class="col-12 col-md-4">
        <div id="donut-nebulae" style="height:220px;"></div>
      </div>
      <div class="col-12 col-md-4">
        <div id="donut-clusters" style="height:220px;"></div>
      </div>
    </div>

    <!-- Journal section  - 8d9edb -->
    <div class="card mt-4" style="background-color:#252c425d; border:2px solid #6b507c;">
      <div class="card-header position-relative d-flex justify-content-center align-items-center"
        style="background-color:#252c4200; border-bottom:2px solid #a97fc4;">
        <h4 class="m-0 w-100 text-center" , style="color:#f4f2f5; font-weight:bold; font-size: 40px;">
          {{ (user.user_name or user.username or user.name)|default('Astronomer', true) }}'s Journal
        </h4>
      </div>

      <!-- body section for journal entries--->
      <div class="card-body p-3" id="journal-list" style="color:#f7f7f7;">
        <!-- use Jinja2 to build out a dynamic table for user journal -->
        {% if entries and entries|length %}
        <div class="table-responsive">
          <table class="table-sm align-middle mb-0 w-100" style="background-color:transparent;">
            <thead>
              <tr>
                <!-- test column widths fit with resizing page -->
                <th style="width:90px;">Image</th>
                <th style="width:120px;">Messier #</th>
                <th style="width:200px;">Name</th>
                <th style="width:200px;">Type</th>
                <th style="width:200px;">Constellation</th>
                <th style="width:140px;">Date Captured</th>
                <th style="width:140px;">More Details</th>
              </tr>
            </thead>
            <tbody>
              {% for e in entries %}
              <tr>
                <td>
                  {% if e.img %}
                  <!-- thumbnail img -->
                  <img src="{{ e.img }}" alt="thumb" style="width:64px;height:64px;object-fit:cover;border-radius:5px;border-style: solid;
                            border-width: thin;border-color: #8d9edb;">
                  {% endif %}
                </td>
                <td> M{{ e.m_number }} </td>
                <td> {{ e.name }} </td>
                <td> {{ e.type }} </td>
                <td> {{ e.constellation }} </td>
                <td> {{ e.date }} </td>
                <!-- includes list of fields to pass to the pop-up once clicked (auto formating keeps changing.. look into) -->
                <td><button type="button" class="btn btn-lg view-object" title="View details"
                    data-title="{{e.obj_title}}" data-messier="{{ e.m_number }}" data-name="{{ e.name }}"
                    data-notes="{{ e.desc }}" data-img="{{ e.img }}" data-constellation="{{ e.constellation }}"
                    data-object-type="{{ e.type }}" data-object-subtype="{{ e.subtype }}" data-ra="{{ e.ra }}"
                    data-dec="{{ e.dec }}" data-mag="{{ e.mag }}" data-obs="{{ e.date }}" data-journal="{{ e.body|e }}">
                    <i class="bi bi-box-arrow-up-right Large"></i>
                  </button></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <em>No entries yet. Click the <i class="bi bi-journal-plus"></i> icon in the bottom right to begin adding
          observations!</em>
        {% endif %}
      </div>

    </div>

  </div> <!-- end main page info -->

  <!-- modal for journal entry pop-up ********************************************************** -->
  <div class="modal fade" id="uploadModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color:#1a1a1a; color:#e4b1d9; border:2px solid #8b537f;">
        <div class="modal-header">
          <h5 class="modal-title">Messier Object Entry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('journal_new') }}" enctype="multipart/form-data">
            <div class="mb-3">
              <!-- REQUIRED - select M# -->
              <label class="form-label">Messier Object*</label>
              <select class="form-select" name="messier_id" required>
                {% for m in objects %}
                <option value="{{ m.id }}">{{ m.m_number }} — {{ m.common_name }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- REQUIRED - get date -->
            <div class="mb-3">
              <label class="form-label">Observation Date*</label>
              <input type="date" class="form-control" name="observed_date" required>
            </div>
            <!-- REQUIRED - get image -->
            <div class="mb-3">
              <label class="form-label">Image (.jpg/.png/.webp)*</label>
              <input class="form-control" type="file" name="image" accept=".jpg,.jpeg,.png,.webp" required>
            </div>
            <!-- OPTIONAL - user notes -->
            <div class="mb-3">
              <label class="form-label">Notes (equipment, events, etc.)</label>
              <textarea class="form-control" name="journal_text" rows="4"
                placeholder="200mm refractor, Canon EOS R, 45s exp, clear skies, half-moon"></textarea>
            </div>

            <div class="d-flex justify-content-end gap-2">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- add modal for **** USER MENU **** for logging out and additonal functionality in future -->
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 2;">
    <div class="dropdown text-end">
      <button id="userMenuBtn" class="btn btn-sm dropdown-toggle d-flex align-items-center gap-2 border-0"
        style="color:#ffffff; background:transparent; box-shadow:none; font-weight:600;"
        onmouseenter="this.style.color='#b2a4ff'" onmouseleave="this.style.color='#ffffff'" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-person-circle fs-2"></i>
        <span class="d-none d-md-inline">{{ (user.user_name)|default('User', true) }}</span>
      </button>
      <ul class="dropdown-menu btn-ghost-pink  dropdown-menu-end dropdown-menu-dark" aria-labelledby="userMenuBtn">
        <li>
          <!-- passes the route 'logout' -->
          <a class="dropdown-item" href="{{ url_for('logout') }}">
            <!-- text to let user know to click here to logout -->
            <i class=""></i>Logout
          </a>
          <!-- Right to Erasure optoin -->
          <button class="dropdown-item text-pink" type="button" data-bs-toggle="modal"
            data-bs-target="#confirmAcctDeleteModal">
            <!-- todo - add trashcan icon here? -->
            <i class="bi"></i>Delete Account
          </button>
          <!-- PLACEHOLDR for additional options -->
          <!-- <b class="dropdown-item" href="">
              <i class=""></i>Pending
            </b> -->
        </li>
      </ul>
    </div>
  </div>


  <!-- Journal Entry Overlay Button -->
  <div class="position-fixed bottom-0 end-0 p-1" style="z-index: 2;">
    <div class="dropdown text-end">
      <button type="button" class="btn fab-add"
        style="color:#ffffff; background:transparent; box-shadow:none; font-weight:600;"
        onmouseenter="this.style.color='#b2a4ff'" onmouseleave="this.style.color='#ffffff'"
        aria-label="Add journal entry" data-bs-toggle="modal" data-bs-target="#uploadModal">
        <i class="bi bi-journal-plus fs-1"></i>
      </button>
    </div>
  </div>



  <!-- Bootstrap JS (needed for modal) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Highcharts PROGRESS BAR  -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var collected = Number('{{ user.progress.total|int }}'); // wrapping in Number() to avoid parser error
      var catalog = 110;
      var remaining = Math.max(catalog - collected, 0);
      var pct = Math.round((collected / catalog) * 1000) / 10;

      Highcharts.chart('hc-total-progress', { //************ PROGRESS BAR
        chart: {
          type: 'bar',
          backgroundColor: 'transparent',
          height: 46,
          spacing: [0, 0, 0, 0]
        },

        title: { text: null },
        xAxis: { categories: ['Progress'], visible: false },
        yAxis: { min: 0, max: catalog, title: { text: null }, gridLineWidth: 0, labels: { enabled: false } },
        legend: { enabled: false },
        tooltip: { enabled: false },
        plotOptions: {
          series: {
            stacking: 'normal',
            borderWidth: 0,
            pointPadding: 0,
            groupPadding: 0,
          }
        },
        series: [ // can reorder series via the order listed here, but should only be completed and remaining --- REMINDER for DONUT CHARTS
          {
            name: 'Remaining',
            color: 'rgba(139,95,191,0.15)',   // color for remaining slice
            enableMouseTracking: false,
            data: [{ y: remaining }],
            dataLabels: {
              // if less than 20 objects collected, show the label centered on the track -  easier to read
              enabled: collected < 20,
              inside: true,
              formatter: function () { return collected + ' / ' + catalog + ' (' + pct + '%)'; },
              style: { textOutline: 'none', fontWeight: 'bold', color: '#cbb0d6', fontSize: '16px' }
            }
          },
          {
            name: 'Completed',
            color: '#238b98', // color for collected slice
            data: [{ y: collected, className: 'hc-glow' }],
            dataLabels: {
              enabled: collected > 19,
              inside: true,
              // may remove % to keep it clean and simple?
              formatter: function () { return collected + ' / ' + catalog + ' (' + pct + '%)'; },
              style: { textOutline: 'none', fontWeight: 'bold', color: '#ffffff', fontSize: '16px' }
            }
          }
        ],
        credits: { enabled: false }
      });


    });
  </script>

  <!-- Highcharts DONUT CHARTS-->
  <script>
    (function () {
      // User progress (with safe fallbacks)
      var galaxiesDone = Number('{{ (user.progress.galaxies |default (0, true))| int}}');
      var nebulaeDone = Number('{{ (user.progress.nebulae |default (user.progress.nebulea, true) |default (0, true))| int }}');
      var clustersDone = Number('{{ (user.progress.star_clusters |default (0, true))| int }}');

      // Donut Chart KPIs
      var totals = JSON.parse('{{ catalog_totals | tojson | safe}}'); //wrapping this one in json as its an array of totals
      var totalGalaxies = (totals && totals["Galaxy"]) || 0;
      var totalNebulae = (totals && totals["Nebula"]) || 0;
      var totalClusters = (totals && totals["Star Cluster"]) || 0;

      function donut(container, completed, total, label) {  //************************************** DONUT CHARTS
        completed = Math.max(0, Math.min(completed, total));
        var remaining = Math.max(total - completed, 0);

        Highcharts.chart(container, {
          chart: {
            type: 'pie',
            backgroundColor: 'transparent',
            spacing: [-10, -10, -10, 0],
            events: {
              render: function () {
                const chart = this;
                const width = chart.plotWidth;
                const height = chart.plotHeight;
                const centerX = chart.plotLeft + width / 2;
                const centerY = chart.plotTop + height / 2;

                //  remove the second KPI that overlaps (only seen when window is resized)
                if (chart.customCenterLabel) {
                  chart.customCenterLabel.destroy();
                }

                // Add KPI text in the donut center
                chart.customCenterLabel = chart.renderer.text(
                  completed + ' / ' + total,
                  centerX,
                  centerY
                )
                  .attr({
                    align: 'center'
                  })
                  .css({
                    color: '#f4f2f5',
                    fontSize: '20px',
                    fontWeight: 'bold',
                    fontFamily: 'Rajdhani, sans-serif'
                  })
                  .add();
              }
            }
          },
          title: {  //  donut titles
            text: label,
            align: 'center',
            style: {
              color: '#f4f2f5', fontSize: '30px',
              fontFamily: 'Rajdhani, sans-serif'
            },
            y: 30
          },
          tooltip: { enabled: false },
          legend: { enabled: false },
          credits: { enabled: false },
          plotOptions: {
            pie: {
              size: '100%',
              innerSize: '70%',
              borderWidth: 0,
              dataLabels: { enabled: false }, // omit lables, have above KPI
              states: { inactive: { opacity: 1 } }
            }
          },
          series: [{
            data: [
              { name: 'Completed', y: completed, color: '#2db1c1' },
              { name: 'Remaining', y: remaining, color: 'rgba(139,95,191,0.15)' }
            ]
          }]
        });

      }


      // TESTING
      donut('donut-galaxies', galaxiesDone, totalGalaxies, 'Galaxies');
      donut('donut-nebulae', nebulaeDone, totalNebulae, 'Nebulae');
      donut('donut-clusters', clustersDone, totalClusters, 'Star Clusters');

    })();
  </script>

  <!-- pop-up for seeing the object data and journal entry in more detail -->
  <script>
    // funciton to show the modal
    function openObjectModal(d) {
      const setText = (id, val) => document.getElementById(id).textContent = (val ?? '—');

      document.getElementById('objectModalTitle').textContent = d.obj_title || '';


      const imgEl = document.getElementById('objectImage');
      imgEl.src = d.img || '';
      imgEl.alt = d.obj_title || ''; //test

      setText('objectNotes', d.notes);
      setText('objectConstellation', d.constellation);
      setText('objectType', d.object_type);
      setText('objectSubtype', d.object_subtype);
      setText('objectRA', d.ra_hours);
      setText('objectDec', d.dec_degrees);
      setText('objectMag', d.magnitude);
      setText('obsDate', d.observation_date);

      // Journal text may have newlines; it’s safely rendered as text
      const j = document.getElementById('journalText');
      j.textContent = d.journal_text || '';

      new bootstrap.Modal(document.getElementById('objectModal')).show();
    }

    // click handler for .view-object btns
    document.addEventListener('click', function (ev) {
      const btn = ev.target.closest('.view-object');
      if (!btn) return;

      const d = {
        obj_title: btn.dataset.title,
        img: btn.dataset.img,
        notes: btn.dataset.notes,
        constellation: btn.dataset.constellation,
        object_type: btn.dataset.objectType,
        object_subtype: btn.dataset.objectSubtype,
        ra_hours: btn.dataset.ra,
        dec_degrees: btn.dataset.dec,
        magnitude: btn.dataset.mag,
        observation_date: btn.dataset.obs,
        journal_text: btn.dataset.journal
      };

      openObjectModal(d);
    });
  </script>

  <!-- Object Detail Modal -->
  <div class="modal fade" id="objectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content" style="background:#1d1b24; color:#e5e7eb; border:2px solid #6b507c;">
        <div class="modal-header" style="border-bottom:2px solid #a97fc4;">
          <h3 class="modal-title" id="objectModalTitle"></h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">


          <!-- Large image -->
          <div class="mb-3 text-center">
            <img id="objectImage" class="img-fluid rounded" alt="" style="max-height:60vh; object-fit:contain;">
          </div>

          <!-- Fun facts ( notes from messier_objects.notes) -->
          <div id="objectNotes" class="mb-3 text-center" style="color:#ffffff;"></div>

          <!-- 3 rows x 2 columns (summary misc info tables) -->
          <div class="mt-4 d-flex justify-content-center">
            <div class="specs-2col">
              <!-- LEFT column -->
              <dl class="specs-list">
                <dt>Constellation</dt>
                <dd id="objectConstellation">—</dd>
                <dt>Object</dt>
                <dd id="objectType">—</dd>
                <dt>Subtype</dt>
                <dd id="objectSubtype">—</dd>
              </dl>

              <!-- RIGHT column -->
              <dl class="specs-list">
                <dt>RA (hrs)</dt>
                <dd id="objectRA">—</dd>
                <dt>Dec (°)</dt>
                <dd id="objectDec">—</dd>
                <dt>Magnitude</dt>
                <dd id="objectMag">—</dd>
              </dl>
            </div>
          </div>

          <hr class="my-3" style="border-color:#6b507c; opacity:.5;">

          <!-- User observation details -->
          <div class="row g-3">
            <div class="col-md-4">
              <div class="">Observation Date:</div>
              <div id="obsDate"></div>
            </div>
            <div class="col-md-8">
              <div class="">Journal Notes:</div>
              <div id="journalText" class="whitespace-prewrap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- add user account delete modal (pop-up) ************************************************-->
  <!-- design inspiration: https://nicelydone.club/blog/delete-account-examples-inspiration#delete-account-design-examples-inspiration -->
  <div class="modal fade" id="confirmAcctDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteTitle">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="border:5px solid #e47474;">
        <div class="modal-header">
          <!-- header -->
          <h5 id="confirmDeleteTitle"
            class="fs-1 modal-title w-100 text-center fw-bold d-flex justify-content-center align-items-center gap-4 text-dark">
            <i class="bi bi-trash3 text-danger"></i>
            Confirm Deletion
            <i class="bi bi-trash3 text-danger"></i>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- body -->
        <div class="modal-body">
          <p class="modal-title w-100 text-center fw-bold d-flex justify-content-center align-items-center text-dark">
            WARNING: This action is irreversible and will permanently remove all account data.</p>
          <p></p>
          <!-- form to require password to continue -->
          <div class="mb-3">
            <input type="password" class="form-control" id="deleteAcctPassword" name="delete_acct_password"
              placeholder="Password Required" autocomplete="current-password" required>
          </div>
        </div>

        <!-- decision buttons -->
        <div class="modal-footer">
          <!-- cancel automatically returns back to dashboard -->
          <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Cancel</button>
          <!-- TODO link to function that performs data deletion...-->
          <button type="button" class="btn btn-danger text-white fw-bold" id="confirmDeleteBtn">DELETE ACCOUNT</button>
        </div>
      </div>
    </div>
  </div>


</body>
<!-- FOOTER --------------------------------------------------------------------------------------->
<footer class="mt-5" style="position:relative; z-index:1; border-top:2px solid #8b537f; 
                            background-color:#1a1a1a;">
  <div class="container py-4">
    <div class="row g-4 align-items-center">

      <!-- site logo area on left side -->
      <div class="col-12 col-md-4 text-center text-md-start">
        <a href="{{ url_for('dashboard') }}" class="d-inline-flex align-items-center
                                                     text-decoration-none">
          <img src="{{ url_for('static', filename='img/MyMessierTracker_header_V2.png') }}" alt="My Messier Tracker"
            style="height:50px; width:auto;">
        </a>
        <!-- for a professional look? -->
        <!-- <div class="small text mt-0">© 2025 My Messier Tracker</div> -->
      </div>

      <!-- misc links like about page-->
      <div class="col-12 col-md-4 text-center">
        <nav class="nav justify-content-center gap-3">
          <a class="nav-link px-0 text-light" href="{{ url_for('dashboard') }}">Home</a>
          <a class="nav-link px-0 text-light" href="{{ url_for('about') }}">About</a>
          <!-- placeholder - maybe change to a Contact link? or maybe some astro resources?-->
          <a class="nav-link px-0 text-light" href="">Profile</a>

        </nav>
      </div>

      <!-- testing with some social media icons -->
      <div class="col-12 col-md-4 text-center text-md-end">
        <div class="d-flex justify-content-center justify-content-md-end gap-3">
          <a class="text-light" href="https://github.com/StellarNavi" target="_blank" rel="noopener"
            aria-label="GitHub">
            <i class="bi bi-github fs-4"></i>
          </a>
          <!-- placeholder - I dont have an X, remove? -->
          <a class="text-light" href="https://x.com/NASA" target="_blank" rel="noopener" aria-label="X (Twitter)">
            <i class="bi bi-twitter-x fs-4"></i>
          </a>
          <a class="text-light" href="https://www.instagram.com/stellarnavi/" target="_blank" rel="noopener"
            aria-label="Instagram">
            <i class="bi bi-instagram fs-4"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>

</html>